<html>
  <head>
    <link rel="stylesheet" href="/css/index.css">
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>
    <div class='container'>
      <div id='mainPart'>
        <img src='images/mainpage/main.jpg'>
      </div>
      <div id='mainPartText'>
        <br>Show off<br>your creativity!<br>
      </div>

    </div>
  </body>

</html>