<html>
  <head>
    <link rel="stylesheet" href="/css/masterpiece.css">
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>
    
    <div class='container'>

        <% if(isAuthenticated){ %>
          <header>
            <div class='userInfo'>
              <div class='profileUserInfo'>
                <div id='userId'><%= currentUser.userId %>'s Purchased ArtWork</div>
              </div>
            </div>
          </header>
          
          <% masterpiece.forEach(function(masterpiece) { %>
            <div class='imgDisplay'>
              <a href="/purchase/api/<%= masterpiece._id %>" rel='thumbnail'>
                <div class='thumbnail' style='background-image: url("/uploads/<%= masterpiece.fileAddr %>")'></div>
                <div class='overlay'>
                  <div class='imgTitle'><%= masterpiece.title %></div>
                </div>
              </a>
            </div>
          <% }) %>

        <% } else { %>
          <h1>Please log in</h1>          
        <% } %>
          
        

    </div>










  </body>
</html>